DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_TIME_ZONE=Asia/Kathmandu

# Database configuration
# Options: sqlite or mysql
DB_ENGINE=sqlite

# Only needed when DB_ENGINE=mysql
DB_NAME=db_django_project
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306
